// ------------ FONTS -----------
@font-face {
  font-family: 'Zen Antique Soft - Regular';
  src: url('../fonts/ZenAntiqueSoft-Regular.ttf') format('truetype');
}

body {
  font-family: 'Zen Antique Soft - Regular', 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
}
